---
# tasks file for roles/osp-instance-delete
  - name: Fetch Instance Info
    os_server_info:
      cloud: ospcloud
    register: osp_instances
 
  - name: Delete instances
    os_server:
      cloud: ospcloud
      name: "{{ item.id }}"
      state: absent
    with_items: "{{ osp_instances.openstack_servers }}"
